.containerItemdetail{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    background-color: black;
}

.itemDetailimg{
    width: 100px;
    height: 100px;

}

.itemDetailtitle{
    color:orange;
}

.itemDetailprice{
    color: orange;
}